[defaults]
result_format=yaml
callbacks_enabled = profile_tasks, timer
callback_plugins = ./callback_plugins
nocows = True
roles_path = ./roles:/etc/ansible/roles
collections_path = ./.venv/lib/python3.12/site-packages/ansible_collections:/home/kecsi/.ansible/collections
inventory = inventory/hosts
ansible_connection=ssh
ansible_ssh_private_key_file = ~/.ssh/id_ed25519
vault_password_file = ~/.vault_pass.txt
